body{
    background: #1f1f38;
    background-image: url(../images/bg-texture.png);
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 23px;
    height: 23px;
}

.card{
    background-color: #c2def1;
}